**/4 savaite/0324/*.css
**/4 savaite/0324/*.map
*.zip
*.psd
*.pdf
**/5-savaite/0329/dist/*.css
**/5-savaite/0329/dist/*.map
**/5-savaite/0325/*.css
**/5-savaite/0325/*.map
**/5-savaite/luxestate/dist/*.css
**/5-savaite/luxestate/dist/*.map
