body {}


div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid red;
    border-top: 5px dotted black;
    animation-name: loading-spinner;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;

}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}