      
        
        div {
            width: 800px;
            height: 50px;
            background: rgba(50, 60, 100, 0.5);
        }

        .raudonas {
            background: linear-gradient(to right, rgb(182, 92, 32), white);
            font-family:fantasy;
        }

        .zalias {
            background: linear-gradient(to right, yellow, white)
        }

        body
        {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
        }