@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

// break-points

$tablet: 767px;
$desktop: 1024px;


// colors

$text-color: #1f373d;
$primary: #ffcc01;
$secondary: #96bece;
$tertiary:  #919eb1;
$quaternary: #f6f5f4;
$white: white;




// sizes

$text-size: 13px;


// border

$border-radius: 5px;
