
/*
  font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;
 */


 header {
   display: flex;
    justify-content: space-between;
    padding: 50px 56px;
   }

body {
   font-family: 'Bebas Neue', cursive;
}


.logo {
    height: 58px;
}

.express-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 26px;
 }

 .express-container img {
    margin-right: 8px;
 }

 .express-container div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #3d2514;
     
 }

 header .right-side nav a {
     margin: 0 26px;
     font-family: 'Bebas Neue', cursive;
     font-size: 22px;
     font-weight: 700;
     letter-spacing: 4px;
     color: #3d2514;
     
 }

 header .right-side nav a:first-child {
     margin-left: 0;
 }

 header .right-side nav a:last-child {
    margin-right: 0;
}
