.discover {
    max-width: 1440px;
    margin: 0 auto 150px;
    padding: 0 70px;
    
}

.seselis {
    box-shadow: 20px 20px 25px 10px rgba(0,0,0,0.17);
    display: flex;
    justify-content: space-between;
}

.upcoming {
    margin-top: 60px;
    margin-left: 60px;
}

.upcoming h5 {
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    color: #3d3d3d;
}

.upcoming h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    color: #3d2514;
    text-transform: uppercase;
    margin-top: 12px;
}

.upcoming p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #3d3d3d;
    margin-top: 45px;
    line-height: 33px;
    font-weight: 400;
}

.discover img {
margin: 30px;
}

.turinys input {
    background-color: #ffc045;
}